body {
    font-family: Roboto;
    margin: 0;
}

/* Header */

.header {
    background-color: #1F2937;
    display: flex;
}

.header__container {
    display: flex;
    margin: 0 auto;
}

.header h1 {
    color: #F9FAF8;
    font-size: 24px;
}

.header__link a {
    color: #e5e7eb;
    font-size: 18px;
    text-decoration: none;
}

.header__link {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-left: 400px;
}

/* Main */

.main {
    display: flex;
    background-color: #1F2937;
    height: 410px;
    padding: 50px 240px 50px 240px;
    align-items: center;
}

.main__container {
    display: flex;
    gap: 50px;
}

.main .main__text h1{
    color: #F9FAF8;
    font-size: 48px;
}

.main .main__text p {
    color: #E5E7EB;
    font-size: 18px;
}

.main .main__text button {
    background-color: #3882F6;
    color: #E5E7EB;
    border-radius: 10px;
    padding: 10px 30px 10px 30px;
    font-weight: bold;
    border: none;
}

.main .main__photo img {
    height: 250px;
}

/* Info */

.info__container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info__container h1 {
    font-size: 36px;
    color: #1F2937;
    font-weight: bold;
}

.info__content {
    display: flex;
    font-size: 18px;
    margin-top: 35px;
    margin-bottom: 50px;
}

.info__container .info__content img {
    height: 150px;
    width: 150px;
    border-radius: 10px;
    justify-content: center;  
}

.info1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 200px;
}

.info2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 200px;
}

.info3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 200px;
}

.info4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 200px;
}

/* Quote */

.quote {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.quote__container {
    width: 800px;
    margin: 70px 0 70px 0;
}

.quote__name p {
    font-weight: bold;
    font-size: 24px;
    display: flex;
    justify-content: right;
}

/* Sign up */

.signup {
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.signup__container {
    background-color: #3882F6;
    border-radius: 10px;
    width: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

.signup__text {
    color: #E5E7EB;
}

.signup__text p {
    font-size: 18px;
    line-height: 0;
}

.signup__container button {
    background-color: #3882F6;
    border-color: #E5E7EB;
    color: #E5E7EB;
    border-radius: 6px;
    border-style: solid;
    padding: 5px 25px 5px 25px;
    font-weight: bold;
    font-size: 18px;
    margin-left: 200px;
}